---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/detect
    body:
      encoding: UTF-8
      string: '{"url":"http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Seal_of_the_US_Air_Force.svg/356px-Seal_of_the_US_Air_Force.svg.png","selector":"FULL"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - abc1234
      App-Key:
      - asdfadsfasdfasdfasdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Canonical:
      - 58daffd96d1fc5612482
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Errors":[{"Message":"no faces found in the image","ErrCode":5002}]}'
  recorded_at: Wed, 29 Mar 2017 00:29:14 GMT
recorded_with: VCR 3.0.3
