---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/detect
    body:
      encoding: UTF-8
      string: '{"url":"http://www.history.com/s3static/video-thumbnails/AETN-History_Prod/24/226/History_First_Combat_By_Black_Pilots_Speech_SF_still_624x352.jpg","selector":"FULL"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - abc1234
      App-Key:
      - asdfadsfasdfasdfasdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Canonical:
      - 58db0029a95fd4667556
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"images":[{"status":"Complete","width":624,"height":352,"file":"History_First_Combat_By_Black_Pilots_Speech_SF_still_624x352.jpg","faces":[{"topLeftX":339,"topLeftY":84,"chinTipX":362,"rightEyeCenterX":354,"yaw":-9,"chinTipY":147,"confidence":0.99954,"height":57,"rightEyeCenterY":97,"width":57,"leftEyeCenterY":101,"leftEyeCenterX":381,"pitch":-25,"attributes":{"asian":0.00013,"gender":{"type":"M"},"age":37,"hispanic":0.00028,"other":3.0e-5,"black":0.99955,"white":0},"face_id":1,"quality":0.50623,"roll":7},{"topLeftX":434,"topLeftY":66,"chinTipX":478,"rightEyeCenterX":453,"yaw":14,"chinTipY":134,"confidence":0.9994,"height":66,"rightEyeCenterY":85,"width":66,"leftEyeCenterY":77,"leftEyeCenterX":478,"pitch":1,"attributes":{"asian":0.20121,"gender":{"type":"M"},"age":30,"hispanic":0.02151,"other":0.06071,"black":0.71121,"white":0.00537},"face_id":2,"quality":-0.63,"roll":-14},{"topLeftX":533,"topLeftY":47,"chinTipX":580,"rightEyeCenterX":550,"yaw":3,"chinTipY":131,"confidence":0.99259,"height":86,"rightEyeCenterY":73,"width":85,"leftEyeCenterY":64,"leftEyeCenterX":586,"pitch":-23,"attributes":{"asian":0.05638,"gender":{"type":"M"},"age":25,"hispanic":0.14032,"other":0.12298,"black":0.36599,"white":0.31433},"face_id":3,"quality":-1.06915,"roll":-11}]}]}'
  recorded_at: Wed, 29 Mar 2017 00:30:34 GMT
recorded_with: VCR 3.0.3
