---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/enroll
    body:
      encoding: UTF-8
      string: '{"url":"http://www.imperialteutonicorder.com/sitebuildercontent/sitebuilderpictures/jesus4.jpg","subject_id":"image123abc","gallery_name":"randomgallery"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - abc1234
      App-Key:
      - asdfadsfasdfasdfasdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Canonical:
      - 58db018bca97c2123450
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"images":[{"attributes":{"asian":8.0e-5,"gender":{"type":"M"},"age":27,"hispanic":0.01172,"other":0.00106,"black":0.00075,"white":0.9864},"transaction":{"status":"success","topLeftX":94,"topLeftY":98,"gallery_name":"randomgallery","timestamp":"1490747788528","height":115,"quality":0.52866,"confidence":0.99988,"subject_id":"image123abc","width":116,"face_id":1}}]}'
  recorded_at: Wed, 29 Mar 2017 00:36:28 GMT
recorded_with: VCR 3.0.3
