---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/gallery/remove_subject
    body:
      encoding: UTF-8
      string: '{"gallery_name":"randomgallery","subject_id":"abcdefghi"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - abc1234
      App-Key:
      - asdfadsfasdfasdfasdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Canonical:
      - 58db060261a925417875
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Errors":[{"Message":"subject id was not found","ErrCode":5003}]}'
  recorded_at: Wed, 29 Mar 2017 00:55:31 GMT
recorded_with: VCR 3.0.3
