---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/gallery/remove_subject
    body:
      encoding: UTF-8
      string: '{"gallery_name":"randomgallery","subject_id":"image123abc"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - abc1234
      App-Key:
      - asdfadsfasdfasdfasdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Canonical:
      - 58db062bd3f603872228
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"Complete","message":"subject id image123abc has been successfully
        removed"}'
  recorded_at: Wed, 29 Mar 2017 00:56:12 GMT
recorded_with: VCR 3.0.3
