---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/gallery/view
    body:
      encoding: UTF-8
      string: '{"gallery_name":"randomgallery"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - abc1234
      App-Key:
      - asdfadsfasdfasdfasdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Canonical:
      - 58db0685b91842142537
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Errors":[{"Message":"gallery name not found","ErrCode":5004}]}'
  recorded_at: Wed, 29 Mar 2017 00:57:41 GMT
recorded_with: VCR 3.0.3
