---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/recognize
    body:
      encoding: UTF-8
      string: '{"url":"http://www.imperialteutonicorder.com/sitebuildercontent/sitebuilderpictures/jesus4.jpg","gallery_name":"randomgallery","threshold":".2","max_num_results":"5"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - abc1234
      App-Key:
      - asdfadsfasdfasdfasdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Canonical:
      - 58db09036184e4914805
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"images":[{"transaction":{"status":"success","topLeftX":94,"topLeftY":98,"gallery_name":"randomgallery","subject_id":"image123abc","confidence":0.99643,"height":115,"width":116,"face_id":1,"quality":0.52866},"candidates":[{"subject_id":"image123abc","confidence":0.99643,"enrollment_timestamp":"1490749511729"}]}]}'
  recorded_at: Wed, 29 Mar 2017 01:08:20 GMT
recorded_with: VCR 3.0.3
